{% extends "index.html" %}
{% block body %}
  <div align="center" id="index-banner" class="container section no-pad-bot">
        <h3 class="header center-align teal-text text-darken-4">What is a Memory Palace?</h3>
        <div style="width:600px"></br>
          <p>One of the most useful and widely used mnemonics (or memory aids) is
             the memory palace, a place or series of places in your mind where you
             can store information that you need to remember. With time and
             practice, anyone can build a memory palace, and they are useful for
             far more than just memory competitions and trivia.
           </p>

           <p>The Memory Palace has been used since ancient Rome, and is
              responsible for some quite incredible memory feats. Eight-time
              world memory champion Dominic O’Brien, for instance, was able to
              memorize 54 decks of cards in sequence (that’s 2808 cards),
              viewing each card only once. And there are countless other similar
              achievements attributed to people using the Memory Palace
              technique or variations of it. Even in fiction, there are several
              references to the technique. In Thomas Harris’ novel Hannibal, for
              example, serial killer Hannibal Lecter uses Memory Palaces to
              store amazingly vivid memories of years of intricate patient records.
            </p>

            <p>The Memory Palace technique is based on the fact that we’re
            extremely good at remembering places we know. A ‘Memory Palace’ is a
            metaphor for any well-known place that you’re able to easily
            visualize. It can be the inside of your home, or maybe the route you
            take every day to work. That familiar place will be your guide to
            store and recall any kind of information.
          </p></br>
         </div>
  </div>
{% endblock %}
