{% extends "index.html" %}
{% block body %}
  <div align="center" id="index-banner" class="container section no-pad-bot">
        <h3 class="header center-align teal-text text-darken-4">About</h3>
        <div style="width:600px"></br>
          <p>In today's world, through the invention and explosive growth of the
          transistor, any one person has access to an immeasurable amount of
          information at the click of a button. However, this same technological
          achievement that has improved quality of life for so many people also seems
          to be dminishing their memory. This is mostly an indirect consequence of no
          longer exercising our brain's memory because we can just store all of that
          information into our computer's memory instead of making an effort to store
          it in our own.
          </p>

          <p>However, just because we have these powerful tools for storing information,
          does not mean that we should forget about trying to remember things on our
          own. In many situations, you must rely only on your own memory. Some
          examples of this are when giving a speech, when taking a test, or when
          interviewing for a job. So, then, the question becomes: how can we improve
          our memory while still using the computers that have become such an integral
          part of human life? Or, even better, what if instead of fighting against
          computers, we were able to use them to our advantage as a tool for imporving
          our memory?
          </p>

          <p>This is possible with Memory Palaces.
          </p></br>

          <h4 class="header center-align teal-text text-darken-4">What is a Memory Palace?</h4>

          <p>In the days before computers were common household items, even as far back
          as in the days of ancient Rome, people utilized memory training techniques
          to keep their minds sharp and memories organized. One of the most popular
          and effective techniques for memory training is called "The Method of Loci,"
          also known as "Memory Palaces."
          </p>

          <p>The Memory Palace has been used since ancient Rome, and is responsible for
          some quite incredible memory feats. Eight-time world memory champion Dominic
          O’Brien, for instance, was able to memorize 54 decks of cards in sequence
          (that’s 2808 cards), viewing each card only once. And there are countless
          other similar achievements attributed to people using the Memory Palace
          technique or variations of it. Even in fiction, there are several references
          to the technique. In Thomas Harris’ novel Hannibal, for example, serial
          killer Hannibal Lecter uses Memory Palaces to store amazingly vivid memories
          of years of intricate patient records.
          </p>

          <p>The Memory Palace technique is based on the fact that we’re extremely good
          at remembering places we know. A ‘Memory Palace’ is a metaphor for any
          well-known place that you’re able to easily visualize. It can be the inside
          of your home, or maybe the route you take every day to work. That familiar
          place will be your guide to store and recall any kind of information.
          </p>

          <p>It works by associating some bit of information to a sequence of objects in
          space (usually in some room) and recalling those objects in sequence. Each
          object you recall from your spatial memory will also bring with it the
          information it was associated with.
        </p></br>

          <h4 class="header center-align teal-text text-darken-4">Purpose</h4>

          <p>Up until now, the Memory Palace technique had been confined to the physical
          world that we live in. The Memory Palaces web site brings this technique to
          the digital realm of computers. Here users can create their own custom
          memory palaces and visit and change them whenever and however they see fit.
          It has been shown that the Memory Palace technique works best when applied
          with bizzare and out-of-place imagery, and with this tool, the only limit
          users have is their own imagination.
          </p></br>
         </div>
  </div>
{% endblock %}
