{% extends "index.html" %}
{% block body %}
  <div align="center" id="index-banner" class="container section no-pad-bot">
        <h3 class="header center-align teal-text text-darken-4">Memory Palaces Team</h3>
        <div style="width:600px">
          <ul>
            <li>Satya Gupta</li>
            <li>Kaiying Chen</li>
            <li>Enan Rahman</li>
            <li>Hensley Tavares</li>
            <li>Imer Jance</li>
          </ul>
        </div><br><br>
      <h6>Sending Email:</h6>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input id="subject_text" type="text" length="100">
            <label for="subject_text">subject</label>
          </div>
        </div>
      </form>
    </div>
  </div></br>
{% endblock %}
