<footer class="page-footer teal">
         <div class="container">
           <div class="row">
             <div class="col l6 s12">
               <h5 class="white-text">Connect</h5>
               <a href="https://twitter.com/memorypalaces1341032" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false">Follow @memorypalaces1341032</a>
               <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
             </div>
             <div class="col l4 offset-l2 s12">
               <ul class="pagination">
                 <li><a class="grey-text text-lighten-3" href="/about">About</a></li>
                 <li><a class="grey-text text-lighten-3" href="/contact">Contact</a></li>
              <!--   <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                 <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                 <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>-->
               </ul>
             </div>
           </div>
         </div>
         <div class="footer-copyright">
           <div class="container">
           © 2015 Copyright Text
           </div>
         </div>
       </footer>
