<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/MemoryPalace">Memory Palace</a></li>
      <li><a href="/palace_library">Library</a></li>
      <li><a href="/login">Login</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/MemoryPalace">Memory Palace</a></li>
      <li><a href="/palace_library">Library</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

  </div>
</nav>
