{% extends "index.html" %}
{% block body %}
{% load staticfiles %}
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-darken-4">Welcome!</h1>
      <h5 class="header center teal-text text-darken-4">Feel free to start with one of the Palaces show below.</h5>
       <div class="slider">
    <ul class="slides">
      <li>
        <img src="{% static "images/previews/pre4.jpg"%}"/>
        <div class="caption center-align">
          <a href="/MemoryPalace"><h3 style="color:white;">Room Available Now!</h3></a>
          <a href="/MemoryPalace"><h5 class="light grey-text text-lighten-3">Click to enter.</h5></a>
        </div>
      </li>
      <li>
        <img src="{% static "images/previews/pre3.jpg"%}"/>
        <div class="caption left-align">
          <h3>Room Under Construction</h3>
          <h5 class="light grey-text text-lighten-3">Not yet available.</h5>
        </div>
      </li>
      <li>
        <img src="{% static "images/previews/pre2.jpg"%}"/>
        <div class="caption right-align">
          <h3>Room Under Construction</h3>
          <h5 class="light grey-text text-lighten-3">Not yet available.</h5>
        </div>
      </li>
      <li>
        <img src="{% static "images/previews/pre1.jpg"%}"/>
        <div class="caption center-align">
          <h3>Room Under Construction</h3>
          <h5 class="light grey-text text-lighten-3">Not yet available.</h5>
        </div>
      </li>
    </ul>
  </div>
      <br><br>

    </div>
  </div>
  <!--<div class="parallax"><img src="{% static "images/background.jpg"%}" alt="Unsplashed background img 1"></div>-->
</div>


<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">

        </div>
    </div>

  </div>
</div>
{% endblock %}
