{% extends "index.html" %}
{% block body %}
{% load staticfiles %}
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-darken-4">Welcome!</h1>
      <h5 class="header center teal-text text-darken-4">How to Create a Memory Palace</h5>
      <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/KBxi_B2wgm4?rel=0&cc_load_policy=1" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <!--<div class="parallax"><img src="{% static "images/background.jpg"%}" alt="Unsplashed background img 1"></div>-->
</div>


<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">

        </div>
    </div>

  </div>
</div>
{% endblock %}
