{% load staticfiles %}
<!-- Modal Structure -->
<div id="modal_image_objects" class="modal modal-fixed-footer">
  <div class="modal-content">
    {% include "search.html" %}
    <div id="modal_images">
      <table>
        <tr>
          <td>
            <img class="scrollBoxImg" src="{% static "images/memory_objects/char1.png"%}" />
          </td>
          <td>
            <img class="scrollBoxImg" src="{% static "images/memory_objects/char2.png"%}" />
          </td>
          <td>
            <img class="scrollBoxImg" src="{% static "images/memory_objects/char3.png"%}" />
          </td>
          <td>
            <img class="scrollBoxImg" src="{% static "images/memory_objects/char4.png"%}" />
          </td>
          <td>
            <img class="scrollBoxImg" src="{% static "images/memory_objects/char4.png"%}" />
          </td>
        </tr>
        <tr>
          <td>
            <img class="scrollBoxImg" src="{% static "images/memory_objects/char4.png"%}" />
          </td>
          <td>
            <img class="scrollBoxImg" src="{% static "images/memory_objects/char4.png"%}" />
          </td>
          <td>
            <img class="scrollBoxImg" src="{% static "images/memory_objects/char4.png"%}" />
          </td>
          <td>
            <img class="scrollBoxImg" src="{% static "images/memory_objects/char5.png"%}" />
          </td>
          <td>
            <img class="scrollBoxImg" src="{% static "images/memory_objects/char6.png"%}" />
          </td>
        </tr>
        <tr>
          <td>
            <img class="scrollBoxImg" src="{% static "images/memory_objects/char4.png"%}" />
          </td>
          <td>
            <img class="scrollBoxImg" src="{% static "images/memory_objects/char4.png"%}" />
          </td>
          <td>
            <img class="scrollBoxImg" src="{% static "images/memory_objects/char4.png"%}" />
          </td>
          <td>
            <img class="scrollBoxImg" src="{% static "images/memory_objects/char5.png"%}" />
          </td>
          <td>
            <img class="scrollBoxImg" src="{% static "images/memory_objects/char6.png"%}" />
          </td>
        </tr>
    </table>
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat ">Done</a>
  </div>
</div>
