{% extends "index.html" %}
{% block body %}
<div style="width:300px; margin: auto;">

    <form method="post" enctype="multipart/form-data" action="">
            {%csrf_token%}
            {% if errors%}
                {% for error in errors %}
                <div>
                  <a data-dismiss="alert">×</a>
                  <strong>Error!</strong> {{error}}
                </div>
                {%endfor%}
            {%endif%}
                <div class="input-field col s12">
                  <input id="id_username"  maxlength="30"  name="username" type="text"  class="validate" >
                  <label for="id_username"> Username </label>
                </div>

                <div class="input-field col s12">
                  <input id="email"  maxlength="30"  name="email" type="email"  class="validate" >
                  <label for="email"> Email </label>
                </div>

                <div class ="input-field col s12">
                  <input id="id_password1" name="password1" type="password"  class="validate" >
                  <label for="id_password1"> Password </label>
                </div>

                <div class ="input-field col s12">
                  <input id="id_password2" name="password2"  type="password"  class="validate" >
                  <label for="id_password2">Confirm your password </label>
                </div>

                <div>
                  <input id="register_submit" type="submit"  value="submit" style="width:80px; height:30px; background:#26A69A;border:0 none;cursor:pointer;
                    -webkit-border-radius: 5px; border-radius: 5px;">
                </div>
    </form>
</div>

{% endblock %}
