{% load staticfiles %}
<div id="roombg">
  <img id="drag-1" class="draggable" src="{% static "images/char1.png"%}" />
  <img id="drag-2" class="draggable" src="{% static "images/char2.png"%}" />
  <img id="drag-3" class="draggable" src="{% static "images/char3.png"%}" />
  <img id="drag-4" class="draggable" src="{% static "images/char4.png"%}" />
  <img id="drag-5" class="draggable" src="{% static "images/char5.png"%}" />
  <img id="drag-6" class="draggable" src="{% static "images/char6.png"%}" />
</div>
