<div class="row">
    <div class="input-field col s12">
    <input id="search" type="text">
    <label for="search">Search</label>
    </div>
    <div class="right-align">
    <input type="file" id="file" accept="image/*" style="visibility: hidden; width: 1px; height: 1px" multiple/>
    <a class="btn-floating btn-small waves-effect waves-light teal accent-4" onclick="document.getElementById('file').click(); return false">
      <i class="material-icons">add</i>
    </a>
    <a class="btn-floating btn-small waves-effect waves-light teal accent-4" onclick="document.getElementById('').click(); return false">
      <i class="material-icons">search</i>
    </a>
  </div>
</div>
